.mainflex{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
textarea {	
  height: 400px;
  width: 400px;
  /* margin-top: 5%; */
  background-color: lightblue;
  padding: 15px;
  }
#preview {
  border: 2px solid;
  padding: 15px;
  background-color: lightblue;
  height: auto;
  width: 400px;
  color: black;
}
body {
  background-color: lightgreen;
}
.main-head {
  text-align: center;
}
.coded_by {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: white;
}
pre{
  background-color: white;
}
@media screen and (max-width:600px) {
  .mainflex {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  textarea {
    border-radius: 8px;
  }
  #preview {
    margin-top: 6%;
    border-radius: 8px;
  }
}